__pycache__
*.pyc
*.pyo

**/Generated/*

Activate.cmd
Activate.*.cmd
Activate.ps1
Activate.*.ps1
Activate.sh
Activate.*.sh

.coverage
coverage.xml
CmakeSettings.json

**/.vscode/*
**/build*/*
**/.vs/*
**/out/*

**/node_modules/*
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

Libraries/Python/DataPipelines/v1\.0/DataPipelines/CppToJson/GeneratedCode/Compiler\.ConditionalInvocationQueryMixin\.data

**/GeneratedCode/ML.NET/*
**/GeneratedCode/OnnxRuntime/*
