__pycache__
*.pyc
*.pyo

**/Generated/*

Activate.cmd
Activate.*.cmd
Activate.ps1
Activate.*.ps1
Activate.sh
Activate.*.sh

.coverage
coverage.xml
CmakeSettings.json

**/.vscode/*
**/build/*
**/build_17/*
**/.vs/*
**/out/*

Libraries/Python/DataPipelines/v1\.0/DataPipelines/CppToJson/GeneratedCode/Compiler\.ConditionalInvocationQueryMixin\.data

**/GeneratedCode/ML.NET/*
**/GeneratedCode/OnnxRuntime/*
