[submodule "src/3rdParty/eigen"]
	path = src/3rdParty/eigen
	url = https://gitlab.com/libeigen/eigen.git

[submodule "src/3rdParty/re2"]
	path = src/3rdParty/re2
	url = https://github.com/google/re2.git
